// 换一个 深红色
$color-primary: #dd4238;
$color-primary-50: rgba(221, 66, 56, 0.5);
$color-primary-30: rgba(221, 66, 56, 0.3);
$color-primary-0: #010101;

:root, page {
  --color-primary: #dd4238;
  --color-primary-50: rgba(221, 66, 56, 0.5);
  --color-primary-30: rgba(221, 66, 56, 0.3);
  --color-primary-0: #010101;
}
page { background-color: #f5f5f5; }

page{
  background-color: #f5f5f5;
}
