// 换成 渐变橙/品牌橙
$color-primary: #FD5B38;
$color-primary-50: rgba(253, 91, 56, 0.5);
$color-primary-30: rgba(253, 91, 56, 0.3);
$color-primary-0: #010101;

:root, page {
  --color-primary: #FD5B38;
  --color-primary-50: rgba(253, 91, 56, 0.5);
  --color-primary-30: rgba(253, 91, 56, 0.3);
  --color-primary-0: #010101;
}
page { background-color: #f5f5f5; }

page{
  background-color: #f5f5f5;
}
